@layer reset, fonts, tokens, base, layout, components, utilities, responsive;

@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./tokens.css') layer(tokens);

@layer base {
  body {
    font-family: var(--ff-body);
    font-size: var(--fs-200);
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
  }
}

@layer layout {
  .container {
    margin-inline: auto;
    inline-size: clamp(20.9375rem, 89vw, 70rem);
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--stack-space, 1rem);
  }

  /* HERO */
  .hero {
    background-color: var(--color-bg-strong);
    color: var(--color-text-inverse);
    position: relative;
  }

  .hero__inner {
    position: relative;
  }

  .hero__header {
    padding-block-start: var(--space-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__content {
    --stack-space: var(--space-500);
    padding-block-start: var(--space-700);
    padding-block-end: var(--space-2100);
    align-items: center;
  }
}

@layer components {
  
  /* BUTTONS */
  .btn {
    display: inline-block;
    font-weight: var(--fw-bold);
    line-height: 1.8;
  }

  .btn--neutral {
    font-size: var(--fs-300);
    color: var(--color-text-inverse);
    border-bottom: 3px solid var(--color-bg-accent);
  }

  .btn--primary {
    padding: .75em 2em;
    font-size: var(--fs-200);
    background-color: var(--color-bg-accent);
    color: var(--color-text-primary);
  }

  /* IMAGES */
  .hero__illustration {
    block-size: 184px;
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 45%;
    z-index: 10;
  }
  .hero__wave {
    inline-size: 100%;
    position: absolute;
    bottom: 0;
  }

  /* TYPOGRAPHY */
  .hero__title {
    max-inline-size: 10ch;
    font-family: var(--ff-heading);
    font-size: var(--fs-800);
    font-weight: var(--fw-semibold);
    font-variation-settings: "opsz" 144;
    text-align: center;
    line-height: 1.1;
  }

  .hero__highlight {
    text-decoration: underline;
    text-decoration-color: var(--color-bg-accent);
    text-decoration-thickness: 3px;
  }
}

@layer utilities {}

@layer responsive {
  @media (width >= 768px) {
    .hero__content {
      padding-block-end: var(--space-2500);
    }
    .hero__illustration {
      block-size: 296px;
    }

    .hero__title {
      font-size: var(--fs-1100);
    }
    .btn--primary {
      font-size: var(--fs-300);
    }
  }

  @media (width >= 1200px) {
    .hero__header {
      padding-block-start: var(--space-700);
    }
    .hero__content {
      padding-block-end: var(--space-4600);
    }
    .hero__illustration {
      block-size: 441px;
      translate: -50% 38%;
    }
    .hero__title {
      font-size: var(--fs-1200);
    }
  }
}